.actor-box {
    position: absolute;
    text-align: center;
    width: 100px;
    margin-top: -2000px;
}

.actor-box > img{
    width: 60px; /*actor*/
}

.actor-el-name {
    color: black !important;
    text-align: center;
    width: 150px;
    margin-left: -25px;
}

.ellipse-box {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 130px;
    margin-top: -2000px;
}

.ellipse-box > img {
    height: 130px;
}

.ellipse-el-name {
    color: black;
    text-align: center;
    width: 150px;
    margin-top: -105px;
    margin-left: 25px;
}

.package-box {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 140px;
    margin-top: -2000px;
}

.package-box > img {
    height: 140px;
}

.package-el-name {
    color: black;
    text-align: center;
    width: 165px;
    margin-left: 17px;
    margin-top: -90px;
}

.boundary-box {
    position: absolute;
    text-align: center;
    width: 150px;
    margin-top: -2000px;
}

.boundary-box > img {
    width: 200px;
}

.boundary-el-name {
    color: black;
    text-align: center;
    width: 165px;
    margin-left: 17px;
    margin-top: -100px;
}

.note-box {
    position: absolute;
    text-align: center;
    width: 200px;
    margin-top: -2000px;
    height: 145px;
}

.note-box > img {
    height: 145px
}

.note-el-name {
    color: black;
    text-align: center;
    width: 150px;
    margin-left: 17px;
    margin-top: -120px;
}
