html, body {
    margin: 0;
    overflow: hidden;
}

.modal {
    position: absolute;
    right: 0;
    display: none;
    top: 10vmin;
    z-index: 200;
    background-color: #eb8282;
    height: 10%;
    width: 40%;
    -webkit-box-shadow: -2px 3px 5px 0px rgba(100, 100, 100, 0.95);
    -moz-box-shadow: -2px 3px 5px 0px rgba(100, 100, 100, 0.95);
    box-shadow: -2px 3px 5px 0px rgba(100, 100, 100, 0.95);
}

.modal > .error {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3vmin;
}

.testBox {
    display: inline-block;
    width: 300px; height: 200px;
    margin: 20px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 200px;
}

.innerLabel {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.toolbox {
    background: #98dcf7;
    -webkit-box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    -moz-box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    padding-top: 5px;
    padding-left: 10vw;
}

.relate {
    background: #205d75;
    -webkit-box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    -moz-box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    box-shadow: -1px 10px 13px -7px rgba(0,21,25,0.71);
    padding-top: 5px;
    padding-left: 10vw;
    position: absolute;
    z-index: 3;
    height: 10vmin;
    width: 100%;
    display: none;
}

.relate > .header {
    border: none;
    color: #fff;
    font-size: 3vmin;
}

.toolbox img {
    height: 8vmin;
    padding-top: 2px;
    padding-bottom:2px;
}

.item {
    float: left;
    width: 15vw;
    text-align: right;
}

.selected-elements {
    position: absolute;
    background: #ffffa4;
    display: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7eb91+0,f7eb94+0,f9f2ac+28,fcf6c4+54,fcf6bd+81 */
    background: -moz-linear-gradient(left, #f7eb91 0%, #f7eb94 0%, #f9f2ac 28%, #fcf6c4 54%, #fcf6bd 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f7eb91 0%,#f7eb94 0%,#f9f2ac 28%,#fcf6c4 54%,#fcf6bd 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f7eb91 0%,#f7eb94 0%,#f9f2ac 28%,#fcf6c4 54%,#fcf6bd 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7eb91', endColorstr='#fcf6bd',GradientType=1 ); /* IE6-9 */
}

.hold-inserted-elements {
    position:absolute;
}

.selected-elements > .ammount {
    position: absolute;
    bottom: 0;
    padding-bottom: 4px;
    padding-left: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 3vmin;
    margin-bottom: 0.2vmin;
    margin-left: 0.4vmin;
    padding-right: 1vmin;
    background-color: #788c9c;
    padding-top: 0.5vmin;
    border-radius: 25px;
}

.actor {
    height: 12vmin; 
    width: 10vmin;
}

.actor > img {
    height: 8vmin;
    margin-left: 3vmin;
    margin-top: 1vmin;
}

.ellipse {
    height: 12vmin;
    width: 16vmin;
}

.ellipse > img {
    height: 10vmin;
    margin-top: 0.5vmin;
    margin-left: 0.5vmin;
}

.package {
    height: 12vmin;
    width: 17vmin;
}

.package > img {
    height: 9.5vmin;
    margin-top: 0.5vmin;
    margin-left: 2.5vmin;
}

.boundary {
    height: 12vmin;
    width: 17vmin;
}

.boundary > img {
    height: 9.5vmin;
    margin-top: 0.5vmin;
    margin-left: 2.5vmin;
}

.note {
    height: 12vmin;
    width: 17vmin;
}

.note > img {
    height: 9.5vmin;
    margin-top: 0.5vmin;
    margin-left: 2.5vmin;
}

/*stop scrolling*/
.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    -webkit-touch-callout: none !important; 
}

#myCanvas {
    margin-top:10px;
}

.confirm {
    background-color: rgba(0, 128, 0, 0.31) !important;
}

.cancel {
    background-color: #ffadad !important;
}

.undo {
    background-color: #ffffb5 !important;
}

.redo {
    background-color: #ffffb5 !important;
}

@media (orientation: portrait) { 

    .item {
        float: left;
        width: 15vw;
        text-align: right;
    }

    .toolbox {
        padding-left: 7vmin;
    }

}
a { -webkit-user-select: none !important; }

/*
==============================================
slideLeft
==============================================
*/


.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }   
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}


/*
==============================================
pulse
==============================================
*/

.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 1s;   
    -webkit-animation-duration: 1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;       
    }
    100% {
        transform: scale(1);
        opacity: 1; 
    }   
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;       
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 1;   
    }           
}

.filter {
    position: absolute;
    right: 0;
    width: 35%;
    background: #f59e18;
    height: 100%;
    color: #fff;
    font-family: sans-serif;
    -webkit-box-shadow: inset -1px 3px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: inset -1px 3px 5px 0px rgba(0,0,0,0.29);
    box-shadow: inset -1px 3px 5px 0px rgba(0,0,0,0.29);
    display: none;
    z-index: 400;
}

.header {
    border-bottom: 2px solid #da8400;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.header > .title {
    font-size: 3vmin;
}

.header > .element {
    font-size: 4vmin;
}

.results > ul > li{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 3vmin;
    list-style-type: square;
}

.box>ul.list {
    display: none;
    position: absolute;
    left: 30px;
    top: -30px;
    z-index: 999;
    width: 300px;
    margin: 0;
    padding: 10px;
    list-style: none;
    background: #fff;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.edit-menu {
    height: 100px;
    background-color: #ff5d85;
    width: 550px;
    margin-top: 100px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    z-index: 500;
    display: none;
    left: 0;
    -webkit-box-shadow: 4px 8px 18px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 4px 8px 18px 1px rgba(0,0,0,0.5);
    box-shadow: 4px 8px 18px 1px rgba(0, 0, 0, 0.25);
    right: 0;
}

.edit-menu > .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content > button {
    color: #fff;
    background-color: #44515d;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    width: 70px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.content > input {
    display: inline;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}